.pokemon-card{
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: 250px;
    height: 360px;
    background-color: rgb(231, 244, 245);
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    
}


.pokemon-card__image{
    max-width: 170px;
    
            
   }

.pokemon-card__title{
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.15);
    text-align: center;
  }

.pokemon-card__Numero{
    font-size: 20px; 
    text-align: end;
}

.pokemon-card_descricao{
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
    width: 250px;
    height: 80px;
    text-align: center;
    font-size: 10px;
    white-space: normal; 
    overflow: auto;
    word-wrap: break-word
    
    

}
