.Pokemon-form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.Pokemon-form__group label{
   margin-bottom: 5px;
   font-size: 20px;  
   font-weight: 500;
   color: #555;
}

.Pokemon-form__group input{
    border: 1px solid #AAAA;
    border-radius: 8px;
    height: 36px;
    font-size: 14px;
    padding: 10px;

 }